body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1684px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u50_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:34px;
  width:373px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  white-space:nowrap;
}
#u52_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:606px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:877px;
  width:202px;
  height:606px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:295px;
  width:198px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:902px;
  height:657px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:70px;
  width:902px;
  height:657px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:320px;
  width:898px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:605px;
  width:130px;
  height:30px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#0000FF;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:169px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#0000FF;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:168px;
  width:79px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u60_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u62_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-11px;
  width:488px;
  height:25px;
}
#u62p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-1px;
  width:482px;
  height:6px;
}
#u62p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  height:6px;
}
#u62p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:0px;
  width:5px;
  height:4px;
}
#u62p001_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:6px;
}
#u62p002 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:-12px;
  width:26px;
  height:26px;
}
#u62p002_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:28px;
}
#u62.compound {
  width:0px;
  height:0px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:175px;
  width:476px;
  height:3px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:472px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:989px;
  top:161px;
  width:340px;
  height:48px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  white-space:nowrap;
}
#u66_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:845px;
  width:259px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  white-space:nowrap;
}
#u68_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:887px;
  height:80px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:885px;
  width:887px;
  height:80px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:883px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:883px;
  top:922px;
  width:57px;
  height:16px;
  color:#FF0000;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u72_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:1217px;
  width:57px;
  height:16px;
  color:#FF0000;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u74_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1538px;
  width:259px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  white-space:nowrap;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1634px;
  height:640px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1570px;
  width:1634px;
  height:640px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:312px;
  width:1630px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1359px;
  height:569px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:1621px;
  width:1359px;
  height:569px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:276px;
  width:1355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:1579px;
  width:68px;
  height:84px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:1584px;
  width:57px;
  height:16px;
  color:#FF0000;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u84_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:1681px;
  width:71px;
  height:16px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:1674px;
  width:80px;
  height:30px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u86_ann {
  border-width:0px;
  position:absolute;
  left:247px;
  top:1670px;
  width:1px;
  height:1px;
}
#u88_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:1681px;
  width:29px;
  height:16px;
  color:#FF0000;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:114px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:1718px;
  width:200px;
  height:113px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:196px;
  word-wrap:break-word;
}
#u92_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:1872px;
  width:71px;
  height:16px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:1872px;
  width:20px;
  height:16px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:1872px;
  width:20px;
  height:16px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:1872px;
  width:20px;
  height:16px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:1905px;
  width:20px;
  height:16px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:1905px;
  width:20px;
  height:16px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:1905px;
  width:20px;
  height:16px;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:1938px;
  width:20px;
  height:16px;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:1938px;
  width:20px;
  height:16px;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:1938px;
  width:20px;
  height:16px;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
