body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1104px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u64_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:400px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:244px;
  height:400px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:192px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-11px;
  width:175px;
  height:25px;
}
#u66p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:168px;
  height:6px;
}
#u66p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:6px;
}
#u66p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:0px;
  width:5px;
  height:4px;
}
#u66p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:4px;
}
#u66p002 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:-12px;
  width:26px;
  height:26px;
}
#u66p002_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:28px;
  height:26px;
}
#u66.compound {
  width:0px;
  height:0px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:422px;
  width:163px;
  height:3px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:417px;
  width:57px;
  height:16px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:347px;
  width:60px;
  height:60px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:18px;
  width:181px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u74_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:504px;
  width:253px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u76_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1231px;
  width:492px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  white-space:nowrap;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:902px;
  height:657px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1290px;
  width:902px;
  height:657px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:320px;
  width:898px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-11px;
  width:417px;
  height:25px;
}
#u80p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-1px;
  width:410px;
  height:6px;
}
#u80p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:6px;
}
#u80p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:0px;
  width:5px;
  height:4px;
}
#u80p001_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:6px;
}
#u80p002 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:-12px;
  width:26px;
  height:26px;
}
#u80p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:26px;
  height:28px;
}
#u80.compound {
  width:0px;
  height:0px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:585px;
  top:1343px;
  width:405px;
  height:3px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:401px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:1335px;
  width:43px;
  height:16px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u84_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:1337px;
  width:104px;
  height:16px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u86_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:385px;
  width:109px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u88_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:701px;
  height:657px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:538px;
  width:701px;
  height:657px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:320px;
  width:697px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:27px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:544px;
  width:300px;
  height:27px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:547px;
  width:85px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u94_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:666px;
  height:484px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:617px;
  width:666px;
  height:484px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:234px;
  width:662px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:633px;
  width:71px;
  height:16px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:633px;
  width:65px;
  height:16px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u98_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u100_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:688px;
  width:71px;
  height:16px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:681px;
  width:80px;
  height:30px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:688px;
  width:29px;
  height:16px;
  color:#FF0000;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u106_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:731px;
  width:116px;
  height:16px;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u108_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:144px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:806px;
  top:745px;
  width:278px;
  height:144px;
  color:#FF0000;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  word-wrap:break-word;
}
#u110_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-11px;
  width:596px;
  height:25px;
}
#u110p000 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-1px;
  width:590px;
  height:6px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u110p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:6px;
}
#u110p001 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:-292px;
  width:4px;
  height:5px;
}
#u110p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:4px;
  height:6px;
}
#u110p002 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:274px;
  width:26px;
  height:26px;
}
#u110p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:26px;
  height:28px;
}
#u110.compound {
  width:0px;
  height:0px;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:-140px;
  top:987px;
  width:584px;
  height:3px;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:580px;
  visibility:hidden;
  word-wrap:break-word;
}
